
.ProcessStatusView {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
}

.running {
    color:green;
    font-weight: bold;
}

.stopped {
    color:red;
    font-weight: bold;
}
