
.ProcessStatusView {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
}

.running {
    display: inline-block;
    background-color:rgb(14, 117, 14);
    color:white;
    font-weight: bold;
    padding: 2px 5px 2px 5px;
    border-radius: 5px / 5px;
}

.stopped {
    display: inline-block;
    background-color:rgb(185, 8, 8);
    color:white;
    font-weight: bold;
    padding: 2px 5px 2px 5px;
    border-radius: 5px / 5px;
}
