
.ServerNamePart {
    font-family: "Segoe UI",Arial,sans-serif;
    margin: 0px 0;
    padding-bottom: 5px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #fff!important;
    background-color: #542c29!important;
}

.ServerNamePartNotRunning {
    font-family: "Segoe UI",Arial,sans-serif;
    margin: 0px 0;
    padding-bottom: 5px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #fff!important;
    background-color: #eb1000!important;
}

.ServerName {
    font-size: 1.3em;
    font-weight: bold;
}

.ServerView {
    background-color: #cccccc;
}
